$white: #fff;
$darker-white: #f0eade;
$black: #111;
$gray: #40413e;
$blue: #005bc2;
$green: rgb(0, 194, 105);
$red: #c21a00;
$msf: 'Consolas', 'Monaco','Courier New', monospace;
$ssf: Helvetica, Arial, sans-serif;
$sf: 'Playfair Display', 'Times', 'Times New Roman', serif;
$mobile: 768px;
$tablet: 1024px;
$laptop: 1440px;


.title {
    font-size: 5rem;
}

.fullspace {
    height: 100%;
    width: 100%;
}

.background {
    height: 100%;
    width: 100%;
    z-index: -100;
}
.fullscreen {
    height: 100vh;
    width: 100vw;
}

.grid {
    display: grid;
}

@for $i from 1 through 16 {
    .col-#{$i} {
        grid-template-columns: repeat($i, 1fr)
    }
}

@for $i from 1 through 16 {
    .row-#{$i} {
        grid-template-rows: repeat($i, 1fr)
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    
    &_column {
        flex-direction: column;
    }

    &_top {
        align-items: flex-start;
    }

    &_right {
        justify-content: flex-end;
    }

    &_bottom {
        align-items: flex-end;
    }

    &_left {
        justify-content: flex-start
    }
}

.text {
    &_white {
        color: $white;
    }

    &_darker_white {
        color: $darker-white;
    }

    &_gray {
        color: $gray;
    }

    &_red {
        color: $red;
    }

    &_black {
        color: $black;
    }
}

.hidden {
    display: none !important;
}

// @for $i from 1 through 16 {
//     .animation-delay-#{$i} {
//         animation-delay: 0ms
//     }
// }

body {
    background: url("./leaves-pattern.png") repeat;
    overflow: hidden;

    *::selection {
        background: #7FDBFF;
        color: $black;
    }
    div {
        header {
            grid-column: 2 / -2;
            grid-row: 1 / 2;

            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: $sf;
            * {
                margin: 0;
                padding: 0;
                flex: 1;
            }

            p {
                text-decoration: line-through;
            }
            ul {
                width: 100%;
                list-style: none;
                display: flex;
                text-align: right;
                align-items: center;
                justify-content: space-evenly;

                a {
                    color: inherit;
                    text-decoration: none;
                    &:visited {
                        color: inherit;
                        text-decoration: none;
                    }
                }
            }
        }
        main {
            grid-column: 2 / 12;
            grid-row: 2 / 12;
            min-width: 100%;
            min-height: 100%;
            box-shadow: 10px 10px 10px rgb(184, 178, 178);

            #left_bg {
                grid-column: 1 / 3;
                grid-row: 1/-1;
                background: $black;
            }

            #right_bg {
                grid-column: 3 / 5;
                grid-row: 1/-1;
                background: $white;
            }

            #name {
                grid-column: 2 / 4;
                grid-row: 1 / span 1;
                font-family: $ssf; 
                * {
                    margin: 0;
                    padding: 0;

                    * {
                        margin: 0;
                        padding: 0;
                    }
                }

                h2 {
                    font-weight: lighter;
                }

                #tag { 
                    height: 1em;
                }
            }

            #intro, #skills {
                grid-row: 2/ -1;
                height: 100%;
                div {
                    // height: 100%;
                    width: 65%;
                    font-family: $msf;

                    a {
                        color: $darker-white;
                    }
                }
            }
            
            #intro {
                grid-column: 1 / 3;
            }

            #skills {
                grid-column: 3 / 5;
            }
        }

        footer {
            grid-column: 2 / -2;
            grid-row: -2 / -1;
            font-size: 10px;
            font-family: $msf;
        }
    }
}

@media only screen and (max-width: $mobile) {
    body {
        overflow: scroll;
        // nav {
        //     // display: flex !important;
        //     position: fixed;
        //     background: $white;
        //     height: 100%;

        //     p {
        //         position: fixed;
        //         top: 20px;
        //         right: 30px;
        //         font-family: $ssf;
        //     }

        //     ul {
        //         list-style: none;
        //         justify-content: space-evenly !important;
        //         height: 100%;
        //         font-family: $sf;
        //         font-size: 3rem;
        //         width: 75%;
        //         // text-align: right;
        //     }
        // }
        div {
            box-sizing: border-box;
            background: url("./leaves-pattern.png") repeat;
            height: auto !important;

            // header {
            //     ul {
            //         li {
            //             display: none;
            //         }

            //         // #burger {
            //         //     display: block !important;
            //         //     // cursor: pointer;
            //         // }
            //     }
            // }
            footer {
                margin-top: 20px;
                background: transparent;
                // font-size: 8px;
            }

            main {
                background: $blue;
                display: flex !important;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                box-shadow: 10px 10px 10px rgb(184, 178, 178);


                #left_bg, #right_bg {
                    display: none;
                }

                #name {
                    background: transparent;
                    margin: 2%;
                    padding: 2%;

                    * {
                        background: inherit;
                    }
                    h1 {
                        font-size: 3rem;
                        color: $black;
                    }

                    h2 {
                        font-size: 1rem;
                        font-weight: normal;
                    }

                    #tag {
                        color: $black;
                    }

                    #greet {
                        color: $white;

                    }

                }

                #intro, #skills {
                    background: transparent;
                    width: 100%;
                    padding-bottom: 1em;
                    font-size: 14px;
                    div {
                        background: inherit;
                        width: 80%;
                        border-bottom: 0.1em solid;
                    }
                }

                #intro {
                    color: $white;
                }

                #skills {
                    color: $black;
                }

            }


        }
    }
}

@media only screen and (max-width: $tablet) and (min-width: $mobile) {
    #name {
        h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 1rem;
        }
    }
    #intro, #skills {
        font-size: 12px;
    }
}


@media only screen and (min-width: $laptop + 1px) {
    header {
        font-size: 1.5rem;
    }
    #name {
        h1 {
            font-size: 7rem;
        }

        h2 {
            font-size: 2rem;
        }
    }
    #intro, #skills {
        font-size: 25px;
    }
}